.button{
    font-style: italic;
            font-weight: 400;
            color:white;
            text-decoration: none;
            position: relative;
            background-color: $primary-color;
            padding:1rem;
            display: block;
            &:before{
                content: '';
                position: absolute;
                bottom:0;
                left: 0;
                width: 0;
                height: 10px;
                background-color: #fff;
                transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
            }
            &:hover::before{
                width: 100%;
            }
        }
.back{
    font-family: $primary-font;
    font-style: italic;
    color:black;
    text-decoration: none;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        bottom:0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $primary-color;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }
    &:hover::before{
        width: 100%;
    }
}
.top{
    font-family: $primary-font;
    position: fixed;
    color:#fff;
    bottom: 20px;
    right: 10px;
    padding: 1rem;
    background-color:$primary-color;
    z-index: 100;
}