---
layout: landing
title: About me
eleventyNavigation: 
    key: Home
    order: 0
---
<div class="about container">
    <article class="about__me">
        <span>
            <img class="about__me-img" src="/assets/img/ik-rond.jpg" alt="">
        </span>
        <h2 class="about__me-name">Lucas Heymans</h2>
        <p class="about__me-birth"><i class="fa fa-calendar" style="color:white"></i> - 24/10/1999</p>
        <p class="about__me-adress"><i class="fa fa-location-arrow" style="color:white"></i> - Buggenhout 9255, Belgium</p>
        <ul class="socials">
            <li class="socials__item"><a href="#"><i class="fa fa-github"></i></a></li>
            <li class="socials__item"><a href="#"><i class="fa fa-stack-overflow"></i></a></li>
            <li class="socials__item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </article>
    <article class="about__article">
        <h1 class="about__article-title">About me</h1>
        <h4 class="about__article-subtitle">I'm a front-end developer & UI/UX Designer based in Belgium</h4>
        <p class="about__article-text">I enjoy talking about great ideas and turn them into a simple beautifull webpage. I am a good team player who can easily adapt to people. I can also work independently. In my spare time I am a counselor in a youth movement.</p>
        <h1 class="about__article-title">Why UI/UX designer?</h1>
        <p class="about__article-text">Simple in the course IT Business we had a guest lecture about UI/UX design. This guest lecture was given by colleagues of Geoffrey Van Meirhaeghe </p>
    </article>
    <article class="about__more">
        <h3 class="about__more-title">Need more information?</h3>
        <a href="{{ '/contact' | url }}" class="button">contact me</a>
    </article>
    
</div>
<article>

</article>