---
layout: landing
title: Contact
eleventyNavigation: 
    key: Contact
    order: 3
---
<article class="container contact">
    <article class="contact__text">
        <h1 class="contact__text-title">Contact me!</h1>
        <p class="contact__text-paragraph">I'd like to help you out</p>
    </article>
    <article class="contact__data">
        
    </article>
</article>