---
layout: landing
title: Contact
eleventyNavigation: 
    key: Contact
    order: 3
---
<a href="#top" class="top">go back to top</a>
<article class="container contact">
    <article class="contact__text">
        <h1 class="contact__text-title">Contact me!</h1>
        <p class="contact__text-paragraph">I'd like to help you out! Get in touch with me.</p>
    </article>
    <article class="contact__data">
        <!--<ul class="contact__data-list">
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            <li><a href=""><i class="fa fa-envelope"></i></a></li>
            <li><a href=""><i class="fa fa-phone"></i></a></li>
        </ul>-->
        <ul class="contact__data-list">
            <li>                    
                        <i class="fa fa-envelope"></i> lucas.heymans@outlook.com

            </li>
                        <i class="fa fa-phone"></i> +32 (0) 479 34 87 59 
            </li>
        </ul>
        
    </article>
</article>