---
layout: base
title: features
eleventyNavigation: 
    key: Features
    order: 2
---
<section class="features row">
    {% for feature in collections.features %}
        <section class="feature">
        <div class="feature--image">
            <img src="{{ feature.data.img }}" alt=""ze>
        </div>
        <a class="feature--link" href="{{ feature.url }}">
            <h3 class="pad-text">{{ feature.data.title }}</h3>
            <p class="pad-text">{{ feature.data.description }}</p>
        </a>
        </section>
    {% endfor %}
</section>
