---
layout: landing
title: Home
eleventyNavigation: 
    key: Home
    order: 0
---
<a href="#top" class="top">go back to top</a>
<div class="landing container">
    <article class="landing__title">
        <span class="leftside">
            <h4 class="landing__title-small hello">Hello i'm</h4>
            <h1 class="landing__title-big">Lucas<br>Heymans</h1>
        </span>
        <span class="rightside">
            <h4 class="landing__title-small">I'm a front-end developer & UI/UX designer based in Belgium.</h4>
        </span>
    </article>
    <div class="image person">
        <img src="{{ 'assets/img/ik.jpg' | url}}" alt="">
        <span class="line"></span>
        <article class="text-cont">
            <p class="text-cont__discover">Discover more <a href="{{'/about' | url }}">about me</a></p>
        </article>
    </div>
    
</div>
<div class="container white">
    <article class="program">
        <h2 class="program__title subtitle">I can work with</h2>
        <ul class="program__list">
        {% for program in work %}
            <li class="program__list-item"><img src="{{ program.img }}" alt=""></li>
        {% endfor %}
        </ul>
    </article>
</div>
<div class="container orange">
    <h2 class="subtitle">My projects</h2>
    {% for project in project %}
        <div class="projects">
        <a href="{{ project.link }}">
            <img class="projects__img" src="{{ project.img }}" alt="">
            <h3 class="projects__title">{{ project.specie }}</h3>
        </a>
        </div>
    {% endfor %}
</div>