---
layout: landing
title: Home
eleventyNavigation: 
    key: Home
    order: 0
---

<div class="landing container">
    <div class="landing__title">
        <h4 class="landing__title-small">Hello i'm</h4>
        <h1 class="landing__title-big">Lucas<br>Heymans</h1>
        <h4 class="landing__title-small">I'm a front-end developer & UI/UX designer based in Belgium.</h4>
    </div>
    <div class="image person">
        <img src="assets/img/IMG_20210403_161811.jpg" alt="">
    </div>
</div>