footer{
    background-color:$primary-color;
    
}
.socials{
    list-style: none;
    padding:0;
    display: flex;
    justify-content: space-around;
    &__item{
        a{
            color: white;
            i{
                font-size: 1.5rem;
            }
        }
    }
}