.about{
    background-color: secondary-color;
    
    
    &__me{
        display: flex;
        flex-direction: column;
        
        background-color:$primary-color;
        padding:2rem;
        border-radius: 25px;
        color:white;
        font-family: $primary-font;
        &-name{
            font-size: 2rem;
            line-height: 0.8rem;
        }
        &-img{
        width:100%;
        border-radius: 50%;
        border: 5px solid $secondary-color;
    }
        .socials{
            justify-content: space-around;
            width:100%;
        }
    }
    &__article{
        font-family: $primary-font;
        margin-top: 3rem;
        &-title{
            font-size: 3rem;
            margin-bottom: -1rem;

        }
        &-subtitle{
            font-size: 1.6rem;
            margin-bottom: -0.5rem;
        }
        &-text{
            font-size: 1.2rem;
        }
    } 
    &__more{
        margin-top: 3rem;
        background-color: $third-color;
        padding: 2rem;
        text-align: center;
        &-title{
            font-size:1.2rem;
            font-family: $primary-font;
        }
    } 

    @media (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        &__me{
            width:25%;
        }
        &__article{
            width: 50%;
        }
        &__more{
            width:80%;
        }
    }
}