.program{
    &__list{
        list-style: none;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        &-item{
            img{
                width:4rem;
            }
        }
    }
}
.orange{
    background-color: $third-color;
}